
.main__accordion {
  background: #F5F5F7;
}
.accordion {
}
.container {
}
.accordion__inner {
}
.accordion__content {
}
.accordion__title {
  margin-top: 212px;
  margin-bottom: 53px;
}
.accordion__description {
  font-style: normal;
font-weight: 400;
font-size: 67px;
line-height: 67px;
}
.accordion__btn {
  display: inline-flex;
  border: 1px solid #2E2C34;
border-radius: 999px;
padding: 12px 50px;
&:hover{
  color:  #ffffff;
  background: #7140eb;
  transform: scale(1.1);
  transition: all .3s;
}
&:hover svg path{
  fill: #ffffff;
  transition: all .3s;
}
}
.accordion__details {
margin-right: 5px;
}

.accordion__inner {
  display: flex;

}

.accordion__content {
  margin-right: 208px;
}


.accordion__conteant-shell{
  margin-top: 96px;
  margin-bottom: 96px;
  max-width: 896px;
}

.accordion__conteant {
  
  list-style-type: none;
  margin-bottom: 12px;
  background: #F5F5F7;
}

.accordion__conteant-link {
  display: block;
}

.accordion__question{
  display: inline-flex;
  text-align:right ;
  align-items: center;
  flex-direction: row-reverse;
  justify-content: flex-start;
}

.accordion__question-title{
  color: #2E2C34;;
  font-style: normal;
font-weight: 900;
font-size: 21px;
line-height: 25px;
}

.accordion__rectangle {
  background: #F5F5F7;
  width: 51px;
  height: 48px;
  position: relative;
}
.accordion__rectangle{
   &::before {
    content: "";
    position: absolute;
    top: 50%;
    left: 34%;
    width: 17px;
    height: 2px;
    background-color: #2E2C34;;
  }
  &::after {
    content: "";
    position: absolute;
    top: 50%;
    left: 34%;
    width: 17px;
    height: 2px;
    background-color: #2E2C34;;
    transform: rotate(90deg);
  transition: all .3s;
  }
}

.accordion__text {
  display: flex;
  justify-content: flex-start;
  font-size: 18px;
  line-height: 175%;
  color: #939191;
  max-width: 680px;
  margin-top: 16px;
}

.accordion__conteant-link--active .accordion__rectangle::after {
  transform: rotate(0deg);
}

.accordion__text {
}