@media (max-width: 1050px) {
  .product__card-body {
    display: flex;
    justify-content: space-between;
  }

  .product__inner-card {
    background: #ffffff;
    border-radius: 16px;
    padding: 32px 24px 32px 24px;
    margin: 0 auto;
    transition: all 1s;
    margin-bottom: 78px;
    &:hover {
      transform: scale(1.03);
      transition: all 0.3s;
      box-shadow: 10px 10px 5px rgb(97, 97, 97);
    }
  }
  .product__price-subtitle {
    font-style: normal;
    font-weight: 400;
    font-size: 15px;
    line-height: 28px;
    margin-right: 4px;
  }
  .product__price-offer {
    background: #f1eef8;
    padding: 1px 11px;
    border-radius: 20px;
  }
  .product__offer {
    color: #7140eb;
    font-style: normal;
    font-weight: 900;
    font-size: 13px;
    line-height: 24px;
  }
  // =============== Accordeon ===========
  .accordion__description {
    transition: all 0.3s;
    font-style: normal;
    font-weight: 400;
    font-size: 59px;
    line-height: 61px;
  }
  .accordion__btn {
    display: inline-flex;
    border: 1px solid #2e2c34;
    border-radius: 999px;
    padding: 12px 50px;
  }
  .accordion__btn {
    font-style: normal;
    font-weight: 400;
    font-size: 16px;
    line-height: 16px;
    display: inline-flex;
    border: 1px solid #2e2c34;
    border-radius: 999px;
    padding: 12px 50px;
    &:hover {
      color: #ffffff;
      background: #7140eb;
      transform: scale(1.1);
      transition: all 0.3s;
    }
    &:hover svg path {
      fill: #ffffff;
      transition: all 0.3s;
    }
  }
  .accordion__rectangle {
    background: #f5f5f7;
    width: 51px;
    height: 48px;
    position: relative;
    &::before {
      transition: all 0.3s;
      content: '';
      position: absolute;
      top: 50%;
      left: 34%;
      width: 17px;
      height: 2px;
      background-color: #2e2c34;
    }
    &::after {
      transition: all 0.3s;
      content: '';
      position: absolute;
      top: 50%;
      left: 34%;
      width: 17px;
      height: 2px;
      background-color: #2e2c34;
      transform: rotate(90deg);
      transition: all 0.3s;
    }
  }

  .accordion__question-title {
    transition: all 0.3s;
    color: #2e2c34;
    font-style: normal;
    font-weight: 900;
    font-size: 17px;
    line-height: 25px;
  }
  .accordion__text {
    display: flex;
    justify-content: flex-start;
    font-size: 16px;
    line-height: 175%;
    color: #939191;
    max-width: 468px;
    margin-top: 16px;
  }
  // =====================================
  .footer__icons-svg {
    display: flex;
    text-align: center;
    align-items: center;
    justify-content: flex-start;
    margin-top: 100px;
}
}
@media (max-width: 100px) {
  .accordion__text {
    display: flex;
    justify-content: flex-start;
    font-size: 16px;
    line-height: 175%;
    color: #939191;
    max-width: 400px;
    margin-top: 16px;
  }
}
@media (max-width: 950px) {
  .burger {
    display: block;
    position: fixed;
    top: 15px;
    right: 15px;
    z-index: 150;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    transition: all 0.3s;
  }

  .burger--folow {
    width: 60px;
    height: 60px;
    border-radius: 50%;
    background-color: rgb(0 0 0 / 43%);
  }

  .burger span {
    display: block;
    width: 30px;
    height: 4px;
    background-color: rgb(0, 0, 0);
    border-radius: 3px;
    margin: 4px 0px;
  }
  .burger::before,
  .burger::after {
    content: '';
    display: block;
    width: 30px;
    height: 4px;
    background-color: rgb(0, 0, 0);
    border-radius: 3px;
  }
  .burger.active:before {
    transition: all 0.3s;
    position: fixed;
    transform: rotate(45deg);
    top: 35px;
  }

  .burger.active:after {
    transition: all 0.3s;

    position: fixed;
    transform: rotate(-45deg);
    top: 35px;
  }
  .burger.active span {
    transform: scale(0);
  }

  .burger.burger--folow span {
    transition: all 0.3s;
  }

  .burger.open span {
    transform: scale(0);
  }

  .header__top {
    padding: 0 55px;
    position: fixed;
    top: 0;
    right: 0;
    bottom: 0;
    background-color: rgb(192 187 180 / 75%);
    z-index: 100;
    min-width: 320px;
    transform: translateX(100%);
    transition: all 0.3s;
  }
  .header__top--open {
    transform: translateX(0%);
  }

  .logo {
    margin: 0 0 30px 0;
  }

  .header__top-inner {
    flex-direction: column;
    height: 100%;
    justify-content: space-between;
    padding: 100px 0;
  }

  .header__inner {
    text-align: center;
    margin: 0 auto;
    flex-grow: 1;
  }
  .header__menu {
    margin: 0;
  }

  .header__nav {
    display: block;
    padding: 5px 0;
    margin: 25px 0;
  }

  .header__nav-list {
    flex-direction: column;
    justify-content: center;
    height: 100%;
  }

  .header__body-title {
    color: #ffffff;
    font-style: normal;
    font-weight: 400;
    font-size: 99px;
    line-height: 111px;
  }

  .body--title {
    padding-top: 50px;
    margin-top: 0px;
  }
  .header__button {
    background: #7140eb;
    color: #ffffff;
    border-radius: 999px;
    margin: 10px;
    padding: 22px 76px;
    top: 28px;
    transition: all 0.3s;
    &:hover {
      color: rgb(0, 0, 0);
      transform: scale(1.1);
    }
  }
  // ==========================================
  .card-product__inner-card {
    border-radius: 16px;
    padding: 57px 14px 22px 14px;
    margin: 0 auto;
    transition: all 1s;
    margin-bottom: 78px;
  }
  // =============== Accordeon ===========
  .accordion__description {
    transition: all 0.3s;
    font-style: normal;
    font-weight: 400;
    font-size: 50px;
    line-height: 56px;
  }
  .accordion__btn {
    display: inline-flex;
    border: 1px solid #2e2c34;
    border-radius: 999px;
    padding: 12px 50px;
  }
  .accordion__btn {
    transition: all 0.3s;
    font-style: normal;
    font-weight: 400;
    font-size: 14px;
    line-height: 16px;
    display: inline-flex;
    border: 1px solid #2e2c34;
    border-radius: 999px;
    padding: 9px 40px;
    &:hover {
      color: #ffffff;
      background: #7140eb;
      transform: scale(1.1);
      transition: all 0.3s;
    }
    &:hover svg path {
      fill: #ffffff;
      transition: all 0.3s;
    }
  }
  .accordion__rectangle {
    background: #f5f5f7;
    width: 51px;
    height: 48px;
    position: relative;
    &::before {
      transition: all 0.3s;
      content: '';
      position: absolute;
      top: 50%;
      left: 34%;
      width: 14px;
      height: 2px;
      background-color: #2e2c34;
    }
    &::after {
      transition: all 0.3s;
      content: '';
      position: absolute;
      top: 50%;
      left: 34%;
      width: 14px;
      height: 2px;
      background-color: #2e2c34;
      transform: rotate(90deg);
      transition: all 0.3s;
    }
  }

  .accordion__question-title {
    transition: all 0.3s;
    color: #2e2c34;
    font-style: normal;
    font-weight: 900;
    font-size: 16px;
    line-height: 25px;
  }
  .accordion__text {
    display: flex;
    justify-content: flex-start;
    font-size: 16px;
    line-height: 175%;
    color: #939191;
    max-width: 400px;
    margin-top: 16px;
  }
  // ===================================
  .members__user-title {
    max-width: 400px;
    font-style: normal;
    font-weight: 400;
    font-size: 29px;
    line-height: 29px;
    color: #49464f;
    margin-bottom: 20px;
  }
  .members__user {
    transition: all 0.3s;
    padding: 13px 80px;
    display: flex;
    white-space: nowrap;
    justify-content: flex-start;
    font-style: normal;
    font-weight: 400;
    font-size: 17px;
    line-height: 24px;
    color: rgba(73, 70, 79, 0.7960784314);
    margin-bottom: 15px;
  }
}
@media (max-width: 900px) {
  .product__inner-card {
    background: #ffffff;
    border-radius: 16px;
    padding: 47px 8px 47px 8px;
    margin: 0 auto;
    transition: all 1s;
    margin-bottom: 78px;
  }
  .product__price-subtitle {
    font-style: normal;
    font-weight: 400;
    font-size: 12px;
    line-height: 28px;
    margin-right: 4px;
    transition: all 1s;
  }
  .product__price-offer {
    background: #f1eef8;
    padding: 1px 11px;
    border-radius: 20px;
  }
  .product__offer {
    color: #7140eb;
    font-style: normal;
    font-weight: 900;
    font-size: 10px;
    line-height: 24px;
    transition: all 1s;
  }
  .product__title-one {
    font-style: normal;
    font-weight: 400;
    font-size: 23px;
    line-height: 27px;
    color: #49464f;
    transition: all 1s;
  }
  .product__subtitle-one {
    font-style: normal;
    font-weight: 400;
    font-size: 18px;
    line-height: 22px;
    color: #49464f;
    margin-bottom: 11px;
  }
  .product__details-btn {
    padding: 12px 21px;
  }
  .product__inner-card {
    background: #ffffff;
    border-radius: 16px;
    padding: 15px 10px 16px 13px;
    margin: 0 auto;
    transition: all 1s;
    margin-bottom: 78px;
  }
  .care__title {
    padding-top: 70px;
    max-width: 426px;
    margin-bottom: 26px;
    font-style: normal;
    font-weight: 400;
    font-size: 54px;
    line-height: 62px;
    color: #2e2c34;
    transition: all 1s;
  }

  .city__content-2 {
    text-align: right;
    padding-top: 115px;
    padding-bottom: 69px;
  }
  .city__listing {
    transition: all 0.3s;
    color: #ffffff;
    font-style: normal;
    font-weight: 400;
    font-size: 80px;
    line-height: 97px;
  }
  // ===============================
  .card-product__title-top {
    max-width: 248px;
    font-style: normal;
    font-weight: 400;
    font-size: 50px;
    line-height: 55px;
    margin-bottom: 27px;
  }
  .card-product__subtitle {
    max-width: 252px;
    font-style: normal;
    font-weight: 400;
    font-size: 17px;
    line-height: 24px;
    margin-bottom: 36px;
  }
  .card-product__inner-card {
    border-radius: 16px;
    padding: 57px 14px 22px 14px;
    margin: 0 auto;
    transition: all 1s;
    margin-bottom: 78px;
  }
  .card-product__card-price {
    display: flex;
    margin-bottom: 11px;
  }
  .card-product__content-2 {
    display: flex;
    align-items: center;
    margin-left: 15px;
  }
  .card-card-product__price-subtitle {
    transition: all 0.3s;
    font-style: normal;
    font-weight: 400;
    font-size: 10px;
    line-height: 22px;
    margin-right: 4px;
  }
  .card-product__price-offer {
    color: #7140eb;
    font-style: normal;
    font-weight: 900;
    font-size: 16px;
    line-height: 24px;
    background: #f1eef8;
    padding: 1px 11px;
    border-radius: 20px;
  }
  .card-product__offer {
    font-style: normal;
    font-weight: 900;
    font-size: 10px;
    line-height: 22px;
  }
  .card-product__title-one {
    transition: all 0.3s;
    font-style: normal;
    font-weight: 400;
    font-size: 19px;
    line-height: 30px;
  }

  .card-product__details-btn {
    margin-bottom: 32px;
    padding: 8px 5px;
    border: 1px solid #2e2c34;
    border-radius: 999px;
    background: #7140eb;
    transition: all 1s;
    color: #f1eef8;
  }
  .card-product__details {
    font-style: normal;
    font-weight: 400;
    font-size: 18px;
    line-height: 18px;
  }
  // ===========================================
  .members__title {
    transition: all 0.3s;
    margin-top: 68px;
    margin-bottom: 100px;
    font-style: normal;
    font-weight: 400;
    font-size: 40px;
    line-height: 67px;
  }
  .members__user {
    transition: all 0.3s;
    padding: 13px 55px;
    display: flex;
    white-space: nowrap;
    justify-content: flex-start;
    font-style: normal;
    font-weight: 400;
    font-size: 15px;
    line-height: 24px;
    color: rgba(73, 70, 79, 0.7960784314);
    margin-bottom: 15px;
  }
  .members__user-title {
    max-width: 200px;
    font-style: normal;
    font-weight: 400;
    font-size: 22px;
    line-height: 27px;
    color: #49464f;
    margin-bottom: 20px;
  }
}
@media (max-width: 800px) {
  .description__tixt {
    font-style: normal;
    font-weight: 400;
    font-size: 22px;
    line-height: 34px;
    color: #49464f;
  }
  // ===============================
  .footer__title {
    font-style: normal;
    font-weight: 400;
    font-size: 28px;
    line-height: 34px;
    color: #FFFFFF;
    margin-bottom: 19px;
}
.footer__subtitle {
  margin-bottom: 30px;
  font-style: normal;
  font-weight: 400;
  font-size: 14px;
  line-height: 24px;
  max-width: 286px;
  color: #FFFFFF;
}
.feedback__form-shell {
  transition: all .3s;
  margin-right: 71px;
}
}
@media (max-width: 750px) {
  .description__inner-number {
    margin-right: 15px;
    font-style: normal;
    font-weight: 400;
    font-size: 17px;
    line-height: 34px;
  }
  .description__tixt {
    font-style: normal;
    font-weight: 400;
    font-size: 17px;
    line-height: 34px;
    color: #49464f;
  }

  // ===============================================
  .city__inner {
    display: flex;
    flex-direction: column;
    align-items: center;
  }
  .city__content {
    justify-content: center;
    align-items: center;
    text-align: center;
  }
  .city__title {
    margin-bottom: 21px;
    font-style: normal;
    font-weight: 400;
    font-size: 65px;
    line-height: 67px;
    color: #ffff;
  }
  .city__sybtitle {
    align-items: center;
    min-width: 242px;
    margin-left: 37px;
    margin-bottom: 29px;
    font-style: normal;
    font-weight: 400;
    font-size: 21px;
    line-height: 25px;
    color: #ffff;
  }
  .city__listing {
    transition: all 0.3s;
    color: #ffffff;
    font-style: normal;
    font-weight: 400;
    font-size: 80px;
    line-height: 97px;
  }
  .city__content-2 {
    text-align: center;
    padding-top: 22px;
    padding-bottom: 69px;
  }
  .city__listing {
    transition: all 0.3s;
    color: #ffffff;
    font-style: normal;
    font-weight: 400;
    font-size: 70px;
    line-height: 81px;
  }
  // ========================================
  .card-product__title-top {
    max-width: 248px;
    font-style: normal;
    font-weight: 400;
    font-size: 40px;
    line-height: 44px;
    margin-bottom: 27px;
  }
  // =============== Accordeon ===========
  .accordion__title {
    transition: all 0.3s;
    margin-top: 153px;
    margin-bottom: 53px;
  }
  .accordion__description {
    transition: all 0.3s;
    font-style: normal;
    font-weight: 400;
    font-size: 40px;
    line-height: 47px;
  }
  .accordion__btn {
    display: inline-flex;
    border: 1px solid #2e2c34;
    border-radius: 999px;
    padding: 12px 50px;
  }
  .accordion__btn {
    transition: all 0.3s;
    font-style: normal;
    font-weight: 400;
    font-size: 14px;
    line-height: 16px;
    display: inline-flex;
    border: 1px solid #2e2c34;
    border-radius: 999px;
    padding: 9px 40px;
    &:hover {
      color: #ffffff;
      background: #7140eb;
      transform: scale(1.1);
      transition: all 0.3s;
    }
    &:hover svg path {
      fill: #ffffff;
      transition: all 0.3s;
    }
  }
  .accordion__rectangle {
    background: #f5f5f7;
    width: 51px;
    height: 48px;
    position: relative;
    &::before {
      transition: all 0.3s;
      content: '';
      position: absolute;
      top: 50%;
      left: 34%;
      width: 14px;
      height: 2px;
      background-color: #2e2c34;
    }
    &::after {
      transition: all 0.3s;
      content: '';
      position: absolute;
      top: 50%;
      left: 34%;
      width: 14px;
      height: 2px;
      background-color: #2e2c34;
      transform: rotate(90deg);
      transition: all 0.3s;
    }
  }

  .accordion__question-title {
    transition: all 0.3s;
    color: #2e2c34;
    font-style: normal;
    font-weight: 900;
    font-size: 16px;
    line-height: 25px;
  }
  .accordion__text {
    display: flex;
    justify-content: flex-start;
    font-size: 16px;
    line-height: 175%;
    color: #939191;
    max-width: 400px;
    margin-top: 16px;
  }
}
@media (max-width: 700px) {
  .product__inner-card {
    background: #ffffff;
    border-radius: 16px;
    padding: 32px 24px 32px 24px;
    margin: 0 auto;
    transition: all 1s;
    margin-bottom: 78px;
  }
  .product__price-subtitle {
    font-style: normal;
    font-weight: 400;
    font-size: 10px;
    line-height: 28px;
    margin-right: 4px;
    transition: all 1s;
  }
  .product__price-offer {
    background: #f1eef8;
    padding: 2px 4px;
    border-radius: 30px;
    transition: all 1s;
  }
  .product__offer {
    color: #7140eb;
    font-style: normal;
    font-weight: 900;
    font-size: 9px;
    line-height: 24px;
    transition: all 1s;
  }
  .product__title-one {
    font-style: normal;
    font-weight: 400;
    font-size: 19px;
    line-height: 27px;
    color: #49464f;
    transition: all 1s;
  }
  .product__subtitle-one {
    font-style: normal;
    font-weight: 400;
    font-size: 15px;
    line-height: 22px;
    color: #49464f;
    margin-bottom: 11px;
    transition: all 1s;
  }
  .product__details-btn {
    padding: 8px 8px;
  }
  .product__inner-card {
    background: #ffffff;
    border-radius: 16px;
    padding: 15px 10px 16px 13px;
    margin: 0 auto;
    transition: all 1s;
    margin-bottom: 78px;
  }
  .product__details {
    font-style: normal;
    font-weight: 400;
    font-size: 11px;
    line-height: 12px;
    margin-bottom: 5px;
    transition: all 1s;
  }
  .care__title {
    padding-top: 70px;
    max-width: 426px;
    margin-bottom: 26px;
    font-style: normal;
    font-weight: 400;
    font-size: 41px;
    line-height: 49px;
    color: #2e2c34;
    transition: all 1s;
  }
  .care__subtitle {
    max-width: 300px;
    margin-bottom: 40px;
    font-style: normal;
    font-weight: 400;
    font-size: 15px;
    line-height: 22px;
    color: #2e2c34;
    transition: all 1s;
  }
  // =============== Accordeon ===========
  .accordion__question-title {
    transition: all 0.3s;
    color: #2e2c34;
    font-style: normal;
    font-weight: 900;
    font-size: 14px;
    line-height: 25px;
  }
  .footer__inner {
    display: flex;
    flex-direction: column;
  }
  .menu {
    & li{
      position: relative;
    }
    margin-top: 50px;
    margin-left: 0;
  }
  .menu__list {
    display: flex;
    margin:0px 0px 0px 15px;
    font-style: normal;
  font-weight: 400;
  font-size: 16px;
  line-height: 24px;
    
    & >li{
      margin:0px 50px 0px 0px;
      &:last-child{
        margin:0px 0px 0px 0px;
      }
    }
    & li:hover .sub-menu__list {
      display: block;
    }
    & li:hover .sub-sub-menu__link {
      display: block;
    }
  }
}
@media (max-width: 650px) {
  .description__works {
    font-style: normal;
    font-weight: 400;
    font-size: 55px;
    line-height: 60px;
    color: #49464f;
  }
  .description__inner-number {
    margin-right: 15px;
    font-style: normal;
    font-weight: 400;
    font-size: 17px;
    line-height: 34px;
  }
  .description__tixt {
    font-style: normal;
    font-weight: 400;
    font-size: 17px;
    line-height: 34px;
    color: #49464f;
  }
  .description__scooter {
    width: 250px;
    height: 250px;
    margin-top: 211px;
    margin-bottom: 89px;
  }
  // ===============================
  .card-product__title-top {
    max-width: 248px;
    font-style: normal;
    font-weight: 400;
    font-size: 40px;
    line-height: 49px;
    margin-bottom: 27px;
  }
  .card-product__subtitle {
    max-width: 252px;
    font-style: normal;
    font-weight: 400;
    font-size: 14px;
    line-height: 22px;
    margin-bottom: 36px;
  }
  .card-product__card-price {
    display: flex;
    margin-bottom: 11px;
  }
  .card-product__content-2 {
    display: flex;
    align-items: center;
    margin-left: 15px;
  }
  .card-card-product__price-subtitle {
    transition: all 0.3s;
    font-style: normal;
    font-weight: 400;
    font-size: 9px;
    line-height: 22px;
    margin-right: 4px;
  }
  .card-product__price-offer {
    color: #7140eb;
    font-style: normal;
    font-weight: 900;
    font-size: 16px;
    line-height: 24px;
    background: #f1eef8;
    padding: 1px 11px;
    border-radius: 20px;
  }
  .card-product__offer {
    font-style: normal;
    font-weight: 900;
    font-size: 9px;
    line-height: 22px;
  }
  .card-product__title-one {
    transition: all 0.3s;
    font-style: normal;
    font-weight: 400;
    font-size: 16px;
    line-height: 30px;
  }

  .card-product__subtitle-one {
    font-style: normal;
    font-weight: 400;
    font-size: 18px;
    line-height: 16px;
    margin-bottom: 12px;
    color: #2e2c34;
  }

  .card-product__details-btn {
    margin-bottom: 32px;
    padding: 8px 5px;
    border: 1px solid #2e2c34;
    border-radius: 999px;
    background: #7140eb;
    transition: all 1s;
    color: #f1eef8;
  }
  .card-product__details {
    font-style: normal;
    font-weight: 400;
    font-size: 11px;
    line-height: 18px;
  }
  // =============== Accordeon ===========
  .accordion__inner {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
  }
  .accordion__title {
    text-align: center;
    transition: all 0.3s;
    margin-top: 153px;
    margin-bottom: 53px;
  }
  .accordion__description {
    transition: all 0.3s;
    font-style: normal;
    font-weight: 400;
    font-size: 62px;
    line-height: 62px;
  }
  .accordion__btn {
    display: inline-flex;
    border: 1px solid #2e2c34;
    border-radius: 999px;
    padding: 12px 50px;
  }
  .accordion__btn {
    margin-left: 0px;
    transition: all 0.3s;
    font-style: normal;
    font-weight: 400;
    font-size: 14px;
    line-height: 16px;
    display: inline-flex;
    border: 1px solid #2e2c34;
    border-radius: 999px;
    padding: 9px 40px;
    &:hover {
      color: #ffffff;
      background: #7140eb;
      transform: scale(1.1);
      transition: all 0.3s;
    }
    &:hover svg path {
      fill: #ffffff;
      transition: all 0.3s;
    }
  }
  .accordion__details {
  }
  .accordion__rectangle {
    background: #f5f5f7;
    width: 51px;
    height: 48px;
    position: relative;
    &::before {
      transition: all 0.3s;
      content: '';
      position: absolute;
      top: 50%;
      left: 34%;
      width: 14px;
      height: 2px;
      background-color: #2e2c34;
    }
    &::after {
      transition: all 0.3s;
      content: '';
      position: absolute;
      top: 50%;
      left: 34%;
      width: 14px;
      height: 2px;
      background-color: #2e2c34;
      transform: rotate(90deg);
      transition: all 0.3s;
    }
  }

  .accordion__question-title {
    transition: all 0.3s;
    color: #2e2c34;
    font-style: normal;
    font-weight: 900;
    font-size: 14px;
    line-height: 25px;
  }
  .accordion__text {
    display: flex;
    justify-content: flex-start;
    font-size: 16px;
    line-height: 175%;
    color: #939191;
    max-width: 400px;
    margin-top: 16px;
  }
  // ============================================
  .members__title {
    align-items: center;
    transition: all 0.3s;
    margin-top: 68px;
    margin-bottom: 100px;
    font-style: normal;
    font-weight: 400;
    font-size: 40px;
    line-height: 67px;
    text-align: center;
  }
  .members__block {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
  }
  .members__user {
    transition: all 0.3s;
    padding: 13px 55px;
    display: flex;
    white-space: nowrap;
    justify-content: flex-start;
    font-style: normal;
    font-weight: 400;
    font-size: 15px;
    line-height: 24px;
    color: rgba(73, 70, 79, 0.7960784314);
    margin-bottom: 0px;
  }
  .members__user-title {
    max-width: 200px;
    font-style: normal;
    font-weight: 400;
    font-size: 22px;
    line-height: 27px;
    color: #49464f;
    margin-bottom: -60px;
  }
}
@media (max-width: 600px) {
  .product__card-body {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
  }
  .product__inner-card {
    background: #ffffff;
    border-radius: 16px;
    padding: 32px 24px 32px 24px;
    margin: 0 auto;
    transition: all 1s;
    margin-bottom: 78px;
  }
  .product__price-subtitle {
    font-style: normal;
    font-weight: 400;
    font-size: 17px;
    line-height: 22px;
    margin-right: 4px;
    transition: all 1s;
  }
  .product__price-offer {
    background: #f1eef8;
    padding: 1px 11px;
    border-radius: 20px;
    transition: all 1s;
  }
  .product__offer {
    color: #7140eb;
    font-style: normal;
    font-weight: 900;
    font-size: 14px;
    line-height: 24px;
    transition: all 1s;
  }
  .product__title-one {
    font-style: normal;
    font-weight: 400;
    font-size: 29px;
    line-height: 34px;
    color: #49464f;
    transition: all 1s;
  }
  .product__subtitle-one {
    font-style: normal;
    font-weight: 400;
    font-size: 18px;
    line-height: 22px;
    color: #49464f;
    margin-bottom: 11px;
    transition: all 1s;
  }
  .product__details-btn {
    padding: 20px 38px;
    border: 1px solid #2e2c34;
    border-radius: 999px;
    background: #ffffff;
    transition: all 1s;
  }
  .product__inner-card {
    background: #ffffff;
    border-radius: 16px;
    padding: 15px 10px 16px 13px;
    margin: 0 auto;
    transition: all 1s;
    margin-bottom: 78px;
  }
  .product__details {
    font-style: normal;
    font-weight: 400;
    font-size: 11px;
    line-height: 12px;
    margin-bottom: 5px;
    transition: all 1s;
  }
  .care__title {
    padding-top: 70px;
    max-width: 426px;
    margin-bottom: 26px;
    font-style: normal;
    font-weight: 400;
    font-size: 33px;
    line-height: 38px;
    color: #2e2c34;
    transition: all 1s;
  }
  .care__subtitle {
    max-width: 300px;
    margin-bottom: 40px;
    font-style: normal;
    font-weight: 400;
    font-size: 13px;
    line-height: 19px;
    color: #2e2c34;
    transition: all 1s;
  }
  .care__details {
    margin-bottom: 85px;
    display: inline-flex;
    padding: 12px 40px;
    border: 1px solid #2e2c34;
    border-radius: 999px;
    transition: all 1s;
    font-style: normal;
    font-weight: 400;
    font-size: 16px;
    line-height: 16px;
    color: #2e2c34;
  }
  // ===============================
  .card-product__inner {
    display: block;
  }

  .card-product__content-2 {
    display: block;
    align-items: center;
    margin-left: 15px;
  }
  .card-card-product__price-subtitle {
    transition: all 0.3s;
    font-style: normal;
    font-weight: 400;
    font-size: 17px;
    line-height: 22px;
    margin-right: 4px;
  }
  .card-product__price-offer {
    color: #7140eb;
    font-style: normal;
    font-weight: 900;
    font-size: 16px;
    line-height: 24px;
    background: #f1eef8;
    padding: 1px 11px;
    border-radius: 20px;
  }
  .card-product__offer {
    font-style: normal;
    font-weight: 900;
    font-size: 16px;
    line-height: 22px;
  }
  .card-product__title-one {
    transition: all 0.3s;
    font-style: normal;
    font-weight: 400;
    font-size: 16px;
    line-height: 30px;
  }

  .card-product__subtitle-one {
    font-style: normal;
    font-weight: 400;
    font-size: 18px;
    line-height: 16px;
    margin-bottom: 12px;
    color: #2e2c34;
  }

  .card-product__details-btn {
    margin-bottom: 32px;
    padding: 20px 38px;
    border: 1px solid #2e2c34;
    border-radius: 999px;
    background: #7140eb;
    transition: all 1s;
    color: #f1eef8;
  }
  .card-product__details {
    font-style: normal;
    font-weight: 400;
    font-size: 18px;
    line-height: 18px;
  }
}
@media (max-width: 550px) {
  .header__body-title {
    color: #ffffff;
    font-style: normal;
    font-weight: 400;
    font-size: 67px;
    line-height: 48px;
  }
  .description__inner-number {
    margin-right: 15px;
    font-style: normal;
    font-weight: 400;
    font-size: 17px;
    line-height: 24px;
  }
  .description__tixt {
    font-style: normal;
    font-weight: 400;
    font-size: 14px;
    line-height: 27px;
    color: #49464f;
  }
  .care__title {
    padding-top: 70px;
    max-width: 426px;
    margin-bottom: 26px;
    font-style: normal;
    font-weight: 400;
    font-size: 53px;
    line-height: 58px;
    color: #2e2c34;
    transition: all 1s;
  }
  .care__subtitle {
    max-width: 300px;
    margin-bottom: 40px;
    font-style: normal;
    font-weight: 400;
    font-size: 18px;
    line-height: 22px;
    color: #2e2c34;
    transition: all 1s;
  }
  .care__details {
    margin-bottom: 85px;
    display: inline-flex;
    padding: 12px 40px;
    border: 1px solid #2e2c34;
    border-radius: 999px;
    transition: all 1s;
    font-style: normal;
    font-weight: 400;
    font-size: 16px;
    line-height: 16px;
    color: #2e2c34;
  }
  .care__imges {
    width: 0px;
    height: 0px;
  }
}
@media (max-width: 460px) {
  .description__inner-number {
    margin-right: 15px;
    font-style: normal;
    font-weight: 400;
    font-size: 24px;
    line-height: 34px;
  }
  .description__tixt {
    font-style: normal;
    font-weight: 400;
    font-size: 28px;
    line-height: 34px;
    color: #49464f;
  }
  .description__scooter {
    width: 0px;
    height: 0px;
    margin-top: 211px;
    margin-bottom: 89px;
  }
}
@media (max-width: 400px) {
  .header__body-title {
    color: #ffffff;
    font-style: normal;
    font-weight: 400;
    font-size: 57px;
    line-height: 26px;
  }
  .body__inner-subtitle {
    margin: 37px 0 57px 0;
    color: #ffffff;
    font-style: normal;
    font-weight: 400;
    font-size: 18px;
    line-height: 23px;
  }
  .description__tixt {
    font-style: normal;
    font-weight: 400;
    font-size: 26px;
    line-height: 34px;
    color: #49464f;
  }
  .product__details-btn {
    padding: 12px 24px;
    border: 1px solid #2e2c34;
    border-radius: 999px;
    background: #ffffff;
    transition: all 1s;
  }
  // =======================================
  .city__title {
    margin-bottom: 21px;
    font-style: normal;
    font-weight: 400;
    font-size: 57px;
    line-height: 47px;
    color: #ffff;
  }
  .city__sybtitle {
    align-items: center;
    margin-left: 20px;
    margin-bottom: 29px;
    font-style: normal;
    font-weight: 400;
    font-size: 21px;
    line-height: 25px;
    color: #ffff;
  }
  // ===================================
  .card-card-product__price-subtitle {
    transition: all 0.3s;
    font-style: normal;
    font-weight: 400;
    font-size: 14px;
    line-height: 22px;
    margin-right: 4px;
  }
  .card-product__offer {
    font-style: normal;
    font-weight: 900;
    font-size: 13px;
    line-height: 22px;
  }
  .card-product__title-one {
    transition: all 0.3s;
    font-style: normal;
    font-weight: 400;
    font-size: 16px;
    line-height: 30px;
  }

  .card-product__subtitle-one {
    font-style: normal;
    font-weight: 400;
    font-size: 18px;
    line-height: 16px;
    margin-bottom: 12px;
    color: #2e2c34;
  }

  .card-product__details-btn {
    margin-bottom: 32px;
    padding: 10px 22px;
    border: 1px solid #2e2c34;
    border-radius: 999px;
    background: #7140eb;
    transition: all 1s;
    color: #f1eef8;
  }
  .card-product__details {
    font-style: normal;
    font-weight: 400;
    font-size: 18px;
    line-height: 18px;
  }
  // ======================================
  .menu__list {
    display: block;
    margin: 25px 0px 0px 0px;
    font-style: normal;
    font-weight: 400;
    font-size: 16px;
    line-height: 24px;
    & >li{
      margin:0px 0px 25px 0px;
    
    }
}
}
