.members__inner {
}
.members__content {
}
.members__title {
  transition: all 1s;
  margin-top: 68px;
  margin-bottom: 100px;
  font-style: normal;
  font-weight: 400;
  font-size: 66px;
  line-height: 67px;
}
.members__block {
  display: flex;
}
.members__reviews {
  padding-bottom: 78px;
  margin-right: 15px;
}
.members__user-title {
  max-width: 400px;
  font-style: normal;
  font-weight: 400;
  font-size: 29px;
  line-height: 29px;
  color: #49464f;
  margin-bottom: 20px;
}
.members__user {
  transition: all 1s;
  padding: 13px 100px;
  display: flex;
  white-space: nowrap;
  justify-content: flex-start;
  font-style: normal;
  font-weight: 400;
  font-size: 17px;
  line-height: 24px;
  color: #49464fcb;
  margin-bottom: 15px;
}
