

.main__your-city {
  position: relative;
  background: url(../images/background/IMAGE__body.jpg) no-repeat;
  width: 100%;
  height: 100%;
  background-size: cover;
}

.city__inner {
  display: flex;
  justify-content: space-between;
}
.city__content {
  padding-top: 277px;
}
.city__title {
  margin-bottom: 21px;
  font-style: normal;
font-weight: 400;
font-size: 65px;
line-height: 67px;
color: #ffff;
}
.city__sybtitle {
  max-width: 242px;
  margin-bottom: 29px;
  font-style: normal;
font-weight: 400;
font-size: 21px;
line-height: 25px;
color: #ffff;
}
.citi__new {
  margin-bottom: 24px;
}
.citi__link{
  display: inline-block;
  background: #7140EB;
  border-radius: 999px;
  margin-bottom: 33px;
  font-style: normal;
font-weight: 400;
font-size: 18px;
line-height: 18px;
  padding: 20px 54px;
  color: #FFFFFF;
  transition: all 1s;
  &:hover{
    transform: scale(1.1);
    transition: all .3s;
  }
}
.sity__question {
  margin-bottom: 64px;
  font-style: normal;
font-weight: 400;
font-size: 18px;
line-height: 24px;
color: #FFFFFF;
}
.city__content-2 {
  text-align: right;
  padding-top: 98px;
  padding-bottom: 69px;
}
.city__listing {
  color: #FFFFFF;
  font-style: normal;
font-weight: 400;
font-size: 100px;
line-height: 111px;
}